{#
| Variable               | Type      | Description                                                      |
|-----------------------|-----------|------------------------------------------------------------------|
| products.source       | string    |                                                                  |
| products.source_value | ?int[]    | ids of sources (product_ids, categories_ids, brands_id..etc)     |
| title                 | string    | Section title (العنوان الافتراضي القادم من الثيم)                   |
| display_all_url       | ?string   | If it's existed, mean should show load more link to this url      |
| position              | Int       | Sorting number start from zero                                   |
| limit                 | int       | Number of products to be shown                                   |
| instance.fields       | object    | حقولك المخصصة التي تضيفها من لوحة تحكم سلة للمطورين             |
#}

{# 🎯 الحل السحري: فحص لوحة التحكم أولاً، إذا كانت فارغة نستخدم العنوان الافتراضي للمكون #}
{% set final_title = instance.fields.custom_section_title|default(title) %}

<section id="best-offers-{{ position }}-slider" class="s-block s-block--best-offers container overflow-hidden">
  {% if products|length %}
    <salla-products-slider
            source="{{ products.source }}"
            limit="{{ limit }}"
            autoplay
            source-value="{{ products.source_value|json_encode }}"
            display-all-url="{{ display_all_url }}"
            block-title="{{ final_title }}"
            block-subTitle="{{ sub_title|raw }}"
            slider-id="slider-with-bg-{{ position }}"
    ></salla-products-slider>
  {% endif %}
</section>